/*
Styles shared among all templates.

@since 0.1.0
*/

@import "../settings";

.page-content {
  ul {
    margin-left: 3em;
    list-style: disc;
  }
}

.post-title, .page-title {
  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}