/*
Styles page.php.

@since 0.1.0
*/

@import "../settings";

body.home {

  #site-content {
    padding: 0;
  }

  .home-slider{
    width: 100%;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
    margin-bottom: 75px;
  }

  .action-buttons {
    font-size: 2em;

    .fa {
      font-size: 3em;
      margin-bottom: 0.2em;
    }

    a {
      font-size: inherit;
    }
  }

  .home-section-title {
    background: $primary-color;
    text-align: center;
    color: #fff;
    font-size: 3em;
  }

  #schedule {
    h3 {
      a {
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #blog {
    .post-title {
      a {
        color: inherit;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #wod {
    text-align: center !important;
    font-size: 1.5em !important;

    table {
      margin: 0 auto;
    }

    * {
      text-align: center !important;
    }

    .date {
      @extend h1;
    }
  }

  #pricing {
    .pricing-container{
      width: 800px;
      max-width: 100%;
    }

    .pricing-table {
      background: #fff;

      .title {
        color: #fff;
        text-shadow: 2px 2px 5px rgba(#000, 0.2)
      }

      &.premium {
        .content {
          &:after {
            content: '';
            clear: both;
            display: table;
          }
        }

        .description {
          border-bottom: none;

          p {
            color: #333333;
            font-size: 0.875rem;
            text-align: left;
            line-height: 1.5;
          }
        }

        .title {
          background: $primary-color;
          background: linear-gradient(to right, #ee9137 0%,#ffc791 100%);
        }

        .price {
          .price-sub {
            color: #aaa;
            font-style: italic;
            font-family: $body-font-family;
            margin-bottom: 0;
            font-size: 0.85rem;
          }

          del {
            color: #aaa;
          }
        }
      }

      &.platinum {
        .title {
          background: #7d7d7d;
          background: linear-gradient(to right, #7d7d7d 0%,#cecece 100%);
        }
      }

      &.gold {
        .title {
          background: #b78532;
          background: linear-gradient(to right, #b78532 0%,#facf86 100%);
        }
      }
    }
  }

  .home-section {
    @media #{$small-only} {
      &:first-of-type {
        > .row {
          padding-top: 0;
        }
      }
    }

    > .row {
      padding: 3em 0;
    }
  }

  #more-info {
    color: $dark-color;

    label {
      color: inherit;
    }
  }
}