/*
Styles page.php.

@since 0.1.0
*/
@import "../settings";

body.home {

  #site-content {
    padding: 0;
  }

  .home-slider {
    width: 100%;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
    margin-bottom: 75px;
  }

  .action-buttons {
    font-size: 2em;

    .fa {
      font-size: 3em;
      margin-bottom: 0.2em;
    }

    a {
      font-size: inherit;
    }
  }

  .home-section-title {
    background: $primary-color;
    text-align: center;
    color: #fff;
    font-size: 3em;
  }

  #schedule {
    h3 {
      a {
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #blog {
    .post-title {
      a {
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #wod {
    text-align: center !important;
    font-size: 1.5em !important;

    table {
      margin: 0 auto;
    }

    * {
      text-align: center !important;
    }

    .date {
      @extend h1;
    }
  }

  #pricing {
    .pricing-table {
      background: #fff;

      .title {
        color: #fff;
        text-shadow: 2px 2px 5px rgba(#000, 0.2)
      }

      .content {
        &:after {
          content: '';
          clear: both;
          display: table;
        }
      }

      .title {
        background: $primary-color;
        background: linear-gradient(to right, #ee9137 0%, #ffc791 100%);
      }

      .bullet-item {
        line-height: 1.5;
      }

      .price {
        .price-sub {
          color: #aaa;
          font-style: italic;
          font-family: $body-font-family;
          margin-bottom: 0;
          font-size: 0.85rem;
        }

        del {
          color: #aaa;
        }
      }
    }
  }

  .home-section {
    @media #{$small-only} {
      &:first-of-type {
        > .row {
          padding-top: 0;
        }
      }
    }

    > .row {
      padding: 3em 0;
    }
  }

  #more-info {
    color: $dark-color;

    label {
      color: inherit;
    }
  }
}