/*
The static site footer.

@since 0.1.0
*/

@import "../settings";

#site-footer {
  background-color: $primary-color;
  color: #fff;
  padding-top: 3em;

  a {
    color: #fff;

    &:hover {
      color: $medium-color;
    }
  }

  .footer-bottom {
    background-color: #000;
    color: $medium-color;
    padding: 3em 0;
    margin-top: 3em;
    font-size: 0.8em;
  }
}