/*
The static site header.

@since 0.1.0
*/

@import "../settings";

#site-header {

  .top-nav {
    background: lighten($dark-color, 5%);
    text-align: right;
    font-size: 0.8em;
    padding: 0.5em 0;
    color: $medium-color;

    .menu {
      font-size: inherit;

      .menu-item {
        display: inline-block;
        font-size: inherit;
        margin: 0 0.5em;

        &.athletic-academy {
          color: $primary-color;
        }

        a {
          color: inherit;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  #primary-nav {
    color: $primary-color;
    text-transform: uppercase;
    font-family: $header-font-family;
    font-size: 1.6em;
    background-color: #fff;
    box-shadow: 0 20px 20px -10px rgba(#000, 0.5);
    z-index: 100;

    @media #{$small-only} {
      position: static !important;
      top: auto !important;
      left: auto !important;
      right: auto !important;
    }

    .menu {
      font-size: inherit;
    }

    .menu-item {
      text-align: center;
      font-size: inherit;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
      padding: 0;

      a {
        display: block;
        padding: 0.5em;
      }
    }
  }

  #mobile-nav {
    text-align: center;

    &.active {
      margin-bottom: 3em;

      .toggle-mobile-nav {
        .icon-open {
          display: none;
        }

        .icon-close {
          display: inline-block;
        }
      }
    }


    .toggle-mobile-nav {
      font-size: 3em;

      .icon-close {
        display: none;
      }
    }

    .mobile-nav-menus {
      background-color: #bbb;
      padding-bottom: 1em;

      .menu-item {
        color: #333;
      }

      a {
        display: block;
        padding: 0.5em;
        color: inherit;
      }

      .primary-nav {
        font-weight: bold;

        .menu-item {
          &:first-of-type {
            padding-top: 1em;
          }

          &:last-of-type {
            padding-bottom: 1em;
          }
        }
      }

      .secondary-nav {
        font-size: 0.8em;

        .menu-item {
          display: inline-block;

          a {
            padding: 0.1em 0.5em;
          }
        }
      }
    }
  }

  .logo-container {
    background: #222 url("assets/images/grunge-repeatable-1.png");
    padding: 1em 0;
    color: $light-color;

    .logo {
      //noinspection CssOverwrittenProperties
      img {
        max-height: 100px;
        max-height: 20vh;

        @media #{$medium-up} {
          max-height: 180px;
        }
      }

      a {
        display: block;
      }
    }

    p {
      margin: 0;
    }

    button {
      margin: 0;
    }

    .address {
      color: $medium-color;
      font-style: italic;
      margin-bottom: 0.4em;
    }

    .phone {
      font-family: $header-font-family;
      font-size: 2em;

      @media #{$medium-up} {
        font-size: 3em;
      }
    }
  }
}

body:not(.no-js) {
  #mobile-nav {
    .mobile-nav-menus {
      display: none;
    }
  }
}